<div class="container-fluid col-12 p-0 d-flex flex-column">
  <ul
    class="navbar-nav navbar-expand-lg nav-pills d-block flex-column mb-auto adaptive-nav bg-opacity-50 bg-dark col-lg-2 col-sm-12">
    <li *ngIf="parent" class="nav-item btn btn-sm btn-outline-dark col-12" (click)="back()">
      <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
    </li>
    <li class="nav-item btn btn-sm btn-outline-dark col-lg-12 col-4 p-lg-0 p-sm-2" *ngFor="let category of categories">
      <button class="w-100 h-auto nav-link" (click)="up(category)">{{category.name}}</button>
    </li>
  </ul>

  <div class="col-lg-10 col-sm-12">
    <div class="bg-white bg-opacity-50 d-flex">
      <div class="d-flex col-8 p-1">
        <p *ngIf="parent" class="h6">
          Результат поска по категории: <span class="h5">{{parent.name}}</span>
        </p>
      </div>
      <div ngbDropdown placement="bottom-end" display="dynamic" class="d-inline-block">
        <button type="button" class="btn btn-outline-dark border-0 btn-custom" ngbDropdownToggle id="user-menu">Сортировать по:</button>
        <div ngbDropdownMenu aria-labelledby="user-menu">
          <button ngbDropdownItem class="btn btn-sm" (click)="changeSort('name',true)"
          >По названию A-Я</button>
          <button ngbDropdownItem class="btn btn-sm" (click)="changeSort('name',false)"
          >По названию Я-А</button>
          <button ngbDropdownItem class="btn btn-sm" (click)="changeSort('price',true)"
          >Сначала дешёвые</button>
          <button ngbDropdownItem class="btn btn-sm" (click)="changeSort('price',false)"
          >Сначала дорогие</button>
          <button ngbDropdownItem class="btn btn-sm" (click)="changeSort('placedAt',false)"
          >Сначала новые</button>
          <button ngbDropdownItem class="btn btn-sm" (click)="changeSort('placedAt',true)"
          >Сначала старые</button>
        </div>
      </div>
    </div>
    <div class="align-content-center d-flex flex-column flex-wrap">
      <div class="m-2 bg-opacity-10 bg-dark col-10" *ngFor="let advertisement of advertisements">
        <div class="ms-2">
          <a class="h2 btn-link text-dark text-decoration-none" (click)="openAdvertisement(advertisement)"> {{advertisement.name}}</a>
        </div>
        <div class="d-flex">
          <div *ngIf="advertisement.images.length" class="col-3">
            <ngb-carousel class="border-2 border-primary bg-dark bg-opacity-10" style="border-radius: 10%">
              <ng-template ngbSlide *ngFor="let image of advertisement.images">
                <div class="col-12 d-flex flex-column justify-content-center flex-wrap">
                  <div class="d-flex justify-content-center flex-wrap align-content-center">
                    <img [src]="imageService.getImageUrl(image.id)" alt="Random first slide" class="adv-image-sm">
                  </div>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
          <div class="px-2">
            <p> {{advertisement.description}}</p>
          </div>
        </div>
        <div>
          <div class="d-flex">
            <span class="col-6">{{advertisement.price | currency: 'BYN'}}</span>
            <div class="col-6 d-flex justify-content-end">
              <span class="me-2">{{addressService.getShortAddress(advertisement.address)}}</span>
              <span>{{advertisement.placedAt | customDatePipe}}</span></div>
          </div>
        </div>
      </div>
    </div>
    <ul class="pagination m-2" *ngIf="advertisements.length">
      <li class="page-item" *ngIf="page>0"><a class="page-link" (click)="getAdv(page-1, parent!)">1</a></li>
      <li class="page-item" *ngIf="page>3"><a class="page-link">. . .</a></li>
      <li class="page-item" *ngIf="page>2"><a class="page-link" (click)="getAdv(page-2, parent!)">{{page - 1}}</a></li>
      <li class="page-item" *ngIf="page>1"><a class="page-link" (click)="getAdv(page-1, parent!)">{{page}}</a></li>
      <li disabled="true" class="page-item"><a class="page-link">{{page + 1}}</a></li>
      <li class="page-item" *ngIf="page<totalPages-2"><a class="page-link"
                                                         (click)="getAdv(page+1, parent!)">{{page + 2}}</a></li>
      <li class="page-item" *ngIf="page<totalPages-3"><a class="page-link"
                                                         (click)="getAdv(page+2, parent!)">{{page + 3}}</a></li>
      <li class="page-item" *ngIf="page<totalPages-4"><a class="page-link">. . .</a></li>
      <li class="page-item" *ngIf="page<totalPages-1"><a class="page-link"
                                                         (click)="getAdv(page+1, parent!)">{{totalPages}}</a>
      </li>
    </ul>
  </div>
</div>

