<div class="container">
  <div class="container-fluid p-2 bg-opacity-10 bg-info" *ngFor="let advertisement of advertisements">
    <div class="h2 ms-2">
      <h2> {{advertisement.name}}</h2>
    </div>
    <div class="d-flex">
      <div *ngIf="advertisement.images.length" class="col-6">
        <ngb-carousel class="border-2 border-primary bg-dark bg-opacity-10" style="border-radius: 10%">
          <ng-template ngbSlide *ngFor="let image of advertisement.images">
            <div class="d-flex align-content-center justify-content-center">
              <img [src]="baseUrl + 'images/' + image.id" alt="Random first slide" class="adv-image">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="">
        <table *ngIf="advertisement.features?.length" class="table-hover table">
          <tbody>
          <tr *ngFor="let feature of advertisement.features">
            <td
              placement="right"
              ngbPopover="{{feature.description}}"
              popoverTitle="{{feature.name}}"
            >{{feature.name}}
            </td>
            <td>{{feature.value}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p> {{advertisement.description}}</p>
  </div>
</div>

