<div class="container-fluid">
  <div style="height: 600px">
    <table class="table table-hover table-responsive">
      <thead>
      <tr>
        <th>наименование товара</th>
        <th>дата подачи</th>
        <th>цена</th>
        <th>статус</th>
        <th>имя пользователя</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let advertisement of advertisements" (click)="getAdvertisement(advertisement)">
        <td>{{advertisement.name}}</td>
        <td>{{advertisement.placedAt | date:'medium'}}</td>
        <td>{{advertisement.price}}</td>
        <td>{{advertisement.status | advStatus}}</td>
        <td>{{advertisement.user.firstName}} {{advertisement.user.lastName}}</td>
        <td>
          <button class="btn btn-warning" (click)="archiveAdvertisement(advertisement)">
            в архив
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ul class="pagination">
    <li class="page-item" *ngIf="page>0"><a class="page-link" (click)="loadAdvertisement(page-1)">Previous</a></li>
    <li class="page-item" *ngIf="page>1"><a class="page-link" (click)="loadAdvertisement(page-2)">{{page - 1}}</a></li>
    <li class="page-item" *ngIf="page>0"><a class="page-link" (click)="loadAdvertisement(page-1)">{{page}}</a></li>
    <li disabled="true" class="page-item"><a class="page-link">{{page + 1}}</a></li>
    <li class="page-item" *ngIf="page<totalPages-1"><a class="page-link"
                                                       (click)="loadAdvertisement(page+1)">{{page + 2}}</a></li>
    <li class="page-item" *ngIf="page<totalPages-2"><a class="page-link"
                                                       (click)="loadAdvertisement(page+2)">{{page + 3}}</a></li>
    <li class="page-item" *ngIf="page<totalPages-1"><a class="page-link" (click)="loadAdvertisement(page+1)">Next</a>
    </li>
  </ul>
</div>



