<div class="container-fluid">
  <table class="table table-hover table-responsive">
    <thead>
    <tr>
      <th>name</th>
      <th>features</th>
      <th>parent</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <td>{{category.name}}</td>
      <td>
        <a type="button" (click)="open(content,category)">
          features...
        </a>
      </td>
      <td>
        <div *ngIf="category.parent">{{category.parent.name}}</div>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteCategory(category)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <ul class="pagination">
    <li class="page-item" *ngIf="page>0"><a class="page-link" (click)="getCategories(page-1)">Previous</a></li>
    <li class="page-item" *ngIf="page>1"><a class="page-link" (click)="getCategories(page-2)">{{page-1}}</a></li>
    <li class="page-item" *ngIf="page>0"><a class="page-link" (click)="getCategories(page-1)">{{page}}</a></li>
    <li disabled="true" class="page-item"><a class="page-link">{{page+1}}</a></li>
    <li class="page-item" *ngIf="page<totalCategoryPages-1"><a class="page-link" (click)="getCategories(page+1)">{{page+2}}</a></li>
    <li class="page-item" *ngIf="page<totalCategoryPages-2"><a class="page-link" (click)="getCategories(page+2)">{{page+3}}</a></li>
    <li class="page-item" *ngIf="page<totalCategoryPages-1"><a class="page-link" (click)="getCategories(page+1)">Next</a></li>
  </ul>
</div>

<!--Modal for features-->
<ng-template #content let-modal>
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Features</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <table *ngIf="current.features?.length" class="table table-hover">
    <thead>
    <tr>
      <th>name</th>
      <th>description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let feature of current.features">
      <td>{{feature.name}}</td>
      <td>{{feature.description}}</td>
      <td><button class="btn btn-danger" (click)="deleteFeature(feature)">delete</button></td>
    </tr>
    </tbody>
  </table>
  <div class="container-fluid">
    <div class="d-flex me-4">
      <div class="form-outline">
        <input [(ngModel)]="words" (change)="searchFeatures(0)" type="search" id="form1" class="form-control"
               placeholder="Search"/>
      </div>
      <button type="button" class="btn btn-primary" (click)="searchFeatures(0)">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
    <div>
      <table *ngIf="searchResult?.length" class="table table-hover">
        <thead>
        <tr>
          <th>name</th>
          <th>description</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let feature of searchResult">
          <td>{{feature.name}}</td>
          <td>{{feature.description}}</td>
          <td><button class="btn btn-success" (click)="addFeature(feature)">Add</button></td>
        </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item" *ngIf="featurePage>0"><a class="page-link" (click)="searchFeatures(featurePage-1)">Previous</a></li>
        <li class="page-item" *ngIf="featurePage>1"><a class="page-link" (click)="searchFeatures(featurePage-2)">{{featurePage-1}}</a></li>
        <li class="page-item" *ngIf="featurePage>0"><a class="page-link" (click)="searchFeatures(featurePage-1)">{{featurePage}}</a></li>
        <li disabled="true" *ngIf="page" class="page-item"><a class="page-link">{{featurePage+1}}</a></li>
        <li class="page-item" *ngIf="featurePage<totalFeaturesPages-1"><a class="page-link" (click)="searchFeatures(featurePage+1)">{{featurePage+2}}</a></li>
        <li class="page-item" *ngIf="featurePage<totalFeaturesPages-2"><a class="page-link" (click)="searchFeatures(featurePage+2)">{{featurePage+3}}</a></li>
        <li class="page-item" *ngIf="featurePage<totalFeaturesPages-1"><a class="page-link" (click)="searchFeatures(featurePage+1)">Next</a></li>
      </ul>
    </div>

  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('close')">Save</button>
</div>
</ng-template>
