<div class="card">
  <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
    <div class="form-control bg-opacity-10 bg-white mt-2">
      <label for="password"></label>
      <input type="password" id="password" formControlName="password">
    </div>
    <div class="form-control bg-opacity-10 bg-white">
      <label for="confirm-password"></label>
      <input type="password" id="confirm-password" formControlName="confirmPassword">
    </div>
    <input type="submit" value="изменить пароль" class="btn btn-primary">
  </form>
</div>
