<div class="container d-flex justify-content-center">
  <div class="card mt-5 bg-opacity-50 bg-dark">
    <div class="card-body">
      <form #loginForm="ngForm" (ngSubmit)="doLogin(loginForm)"
            class="bg-opacity-25 d-flex flex-column">
        <div class="mb-4">
          <input ngModel class="form-control bg-opacity-50 bg-white"
                 type="text"
                 name="login"
                 id="login"
                 placeholder="Enter name">
        </div>
        <div class="mb-4">
          <input class="form-control bg-opacity-50 bg-white"
                 ngModel
                 type="password"
                 name="password"
                 id="password"
                 placeholder="Enter password">
        </div>
        <div>
          <button class="btn btn-primary" type="submit">Войти</button>
          <a type="button" data-bs-target="#registration-modal"
             class="btn btn-white btn-sm bg-opacity-75 col-8" data-bs-toggle="modal">
            <div class="h5 text-dark">Регистрация</div>
          </a>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal" id="registration-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Регистрация</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registrateForm" (ngSubmit)="registration()"
              class="bg-opacity-25 m-2 col-12 d-flex flex-column align-items-center">
          <input class="col-12 form-control-lg bg-opacity-50 bg-white mb-3"
                 type="text"
                 name="login"
                 id="r-username"
                 placeholder="Введите имя пользователя" required formControlName="login">
          <input class="form-control-lg col-12 bg-opacity-50 bg-white mb-3"
                 type="password"
                 name="password"
                 id="r-password"
                 placeholder="Введите пароль" required formControlName="password">
          <input class="form-control-lg col-12 bg-opacity-50 bg-white mb-3"
                 type="password"
                 name="password-confirmation"
                 id="r-password-с"
                 placeholder="Подтвердите пароль" required formControlName="confPassword">
          <input class="form-control-lg col-12 bg-opacity-50 bg-white mb-3"
                 type="text"
                 name="firstname"
                 id="firstname"
                 placeholder="Введите имя" required formControlName="firstName">
          <input class="form-control-lg col-12 bg-opacity-50 bg-white mb-3"
                 type="text"
                 name="lastname"
                 id="lastname"
                 placeholder="Введите фамилию" required formControlName="lastName">
          <input class="form-control-lg col-12 bg-opacity-50 bg-white mb-3"
                 type="email"
                 name="email"
                 id="email"
                 placeholder="Введите электронную почту" required formControlName="email">
          <input class="form-control-lg col-12 bg-opacity-50 bg-white mb-3"
                 type="date"
                 name="age"
                 id="age"
                 placeholder="Введите дату рождения" value="2000-01-01" required formControlName="age">
          <input class="form-control-lg col-12 bg-opacity-50 bg-white mb-3"
                 type="text"
                 name="phone"
                 id="phone"
                 placeholder="Введите телефон" formControlName="phone">
          <button [disabled]="registrateForm.invalid" class="btn btn-success col-6" type="submit">Зарегистрироваться</button>
        </form>
      </div>
      <div class="modal-footer">
        <button id="closeModal" type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
