

@media (max-width: 576px) {
  .modal {
    --bs-modal-width: 95vw;
  }
  .modal-content{
    width: 95vw;
  }
  .table-responsive {
    width: 90vw;
    overflow-x: scroll;
    overflow-y: auto;
  }
}
